$react-color:              #5fd5f6 !default;
$redux-color:            #764abc !default;

$brand-primary:              #282c34 !default;
$brand-secondary:            $cyan-500 !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              $teal-300 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;

