@import "assets/scss/core/_variables.scss";

.landing-panel-container {
    background-color: $brand-primary;
    border-radius: 5px;
    height:400px;
    width:400px;
    padding:5%
}

.register-text{
    font-size:70%;
    .register-link{
        color:$brand-secondary
    }
}